PORT=4000
ServeiceAccuntJson="/absolute/path/to/firebase-service-account.json"
FIREBASE_DATABASE_URL=
MONAD_NODE1=https://node1.monad.xyz:8545
MONAD_NODE2=https://node2.monad.xyz:8545
MONAD_NODE3=wss://node3.monad.xyz:8546
KEEP_WINDOW_MS=3600000
ROLLBACK_WINDOW=120
BROADCAST_WINDOW_MS=60000
