PORT=4000
ServeiceAccuntJson="D:\Projects\Monad-Execution-Trace-Indexer\backend\ServeiceAccuntJson.json"
FIREBASE_DATABASE_URL=https://monad-execution-trace-indexer-default-rtdb.firebaseio.com
MONAD_NODE1=https://rpc1.monad.xyz
MONAD_NODE2=https://rpc2.monad.xyz
MONAD_NODE3=https://rpc3.monad.xyz
POLL_INTERVAL_MS=3000
MAX_BATCH_SIZE=20
PER_NODE_BLOCK_CONCURRENCY=5
TRACE_CONCURRENCY=10
MAX_QUEUE_SIZE=1000
LAST_BLOCKS_WINDOW=20
MAX_REQUESTS_PER_SECOND_PER_NODE=40
RETRY_MAX_ATTEMPTS=3
RETRY_BASE_BACKOFF_MS=2000
RETRY_MAX_BACKOFF_MS=10000
NODE_DISABLE_MS=30000
BROADCAST_WINDOW_MS=60000
METRICS_LOG_INTERVAL_MS=60000